.framework filter=lfs diff=lfs merge=lfs -text
Frameworks/Core/HaptikLib.framework/HaptikLib filter=lfs diff=lfs merge=lfs -text
Frameworks/Core/HaptikLib.framework.dSYM/Contents/Resources/DWARF/HaptikLib filter=lfs diff=lfs merge=lfs -text
Frameworks/Core/HaptikLib.framework/Assets.car filter=lfs diff=lfs merge=lfs -text
