.framework filter=lfs diff=lfs merge=lfs -text
Frameworks/Core/HaptikLib.framework/HaptikLib filter=lfs diff=lfs merge=lfs -text
Frameworks/Core/HaptikLib.framework.dSYM/Contents/Resources/DWARF/HaptikLib filter=lfs diff=lfs merge=lfs -text
Frameworks/Core/HaptikLib.framework/Assets.car filter=lfs diff=lfs merge=lfs -text
Frameworks/Speech/HaptikSpeech.framework.dSYM/Contents/Resources/DWARF/HaptikSpeech filter=lfs diff=lfs merge=lfs -text
Frameworks/Speech/HaptikSpeech.framework/HaptikSpeech filter=lfs diff=lfs merge=lfs -text
frameworks/location/haptiklocation.framework/haptiklocation filter=lfs diff=lfs merge=lfs -text
frameworks/location/haptiklocation.framework.dsym/contents/resources/dwarf/haptiklocation filter=lfs diff=lfs merge=lfs -text
frameworks/core/haptiklocation.framework/assets.car filter=lfs diff=lfs merge=lfs -text
Frameworks/Analytics/HaptikAnalytics.framework/HaptikAnalytics filter=lfs diff=lfs merge=lfs -text
Frameworks/Analytics/HaptikAnalytics.framework.dSYM/Contents/Resources/DWARF/HaptikAnalytics filter=lfs diff=lfs merge=lfs -text
Frameworks/Offline/HaptikOffline.framework/HaptikOffline filter=lfs diff=lfs merge=lfs -text
Frameworks/Offline/HaptikOffline.framework.dSYM/Contents/Resources/DWARF/HaptikOffline filter=lfs diff=lfs merge=lfs -text
